<html lang="en">
  <head>
    {% include analytics.html %}
    <script type="text/javascript">
        var timerStart = Date.now();
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/appStyles.css">
  </head>
  <body class="body">
   <div class="container-sm">
    <h1 class="title">Google Analytics Test Landing Page</h1>
    <div class="info-item">
      <h4>User agent</h4><span id="userAgent"></span>
    </div>

    <div class="info-item">
      <h4>Page Load Time</h4><span id="pageLoadTime"></span> 
    </div>
  
    <div class="info-item">
      <h4>Geo Location Details</h4>
      <table id="userGeo">
        <thead></thead>
        <tbody></tbody>
      </table>
    </div>

    <button id='conversion' type="button" class="btn btn-primary">
      Begin Checkout
    </button>

    <div class="other">
      You can find the source code here:
      https://github.com/ga-analysis-test/ga-analysis-test.github.io/tree/gh-pages
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      
      document.getElementById('conversion').addEventListener('click', function(event) {
            console.log(event);
        conversionEve1(event);
      });


      function conversionEve1(event){
        console.log(event);
//         gtag('send', 'event', {
//           eventCategory: 'Outbound Link',
//           eventAction: 'click',
//           eventLabel: 'www.google.com'
//         });
        gtag('event', 'begin_checkout', {
          'event_category': 'ecommerce',
          'event_label': 'purchase',
          'value': 'google web'
        });

        console.log("Button clicked");
      }
      
      function pageLoad(){
        console.log("delay complete")
        $('#userAgent').text(window.navigator.userAgent);
        console.log(window.navigator.userAgent);

        console.log("page dom LoadTime: ", Date.now()-timerStart);

        $.getJSON('https://ipgeolocation.abstractapi.com/v1/?api_key=2a722c9b9ffc45c597849dbe22cfd48d', function(data) {
          console.log(data);
          const tableBody = $('#userGeo tbody');
          const tableHead = $('#userGeo thead');
          $.each(Object.entries(data), function(idx, entry){
            tableBody.append("<td>"+entry[1]+"</td>");
            tableHead.append("<th>"+entry[0]+"</th>");
          });
          // document.getElementById('userGeo').innerHTML = JSON.stringify(data, null, 2);
        });
      }
      
      $(document).ready(function() {
        console.log("start delay");
        setTimeout(function(){ pageLoad(); }, 1000);

        var loadTime = window.performance.timing.domContentLoadedEventEnd-window.performance.timing.navigationStart; 
        console.log('Page load time is '+ loadTime);
        $('#pageLoadTime').text(loadTime + " miliseconds");
        
      });
      
//        $(window).load(function() {
//         console.log("page complete LoadTime: ", Date.now()-timerStart);
//         $('#pageLoadTime').text(Date.now()-timerStart + " miliseconds");
//       });
    </script>
</body>
</html>
